In [1]:
import pandas as pd
import numpy as np

In [10]:
r = np.array([[1,0,1],[1,0,0],[1,1,1],[0,0,1]])

In [12]:
t  = np.matmul(r, r.transpose())

In [25]:
with open('./data/user-shows.txt', "r") as infile:
        rdata  = infile.read()

In [148]:
with open('./data/shows.txt', "r") as infile:
        name  = infile.read()

In [150]:
name = name.split("\n")

In [167]:
with open('./data/alex.txt', "r") as infile:
        alex  = infile.read().split(' ')

In [39]:
rdata = rdata.split("\n")

AttributeError: 'list' object has no attribute 'split'

In [80]:
rdata_l = list(map(lambda x:list(filter(None,x.split(' '))), rdata))

In [118]:
r=[]
for i in range(len(rdata_l)-1):
    r.append(np.array(list(map(int, rdata_l[i]))))
r = np.array(r)

In [119]:
p = np.zeros((9985,9985))
for i in range(9985):
    p[i][i] = sum(r[i])

In [141]:
gamma_u = np.linalg.inv(np.sqrt(p))@r@r.transpose()@np.linalg.inv(np.sqrt(p))@r

In [143]:
s_u = gamma_u[499][:100]

In [154]:
u_rec = sorted(range(len(s_u)), key=lambda i: s_u[i])[-5:]

In [216]:
for i in u_rec:
    print("Show ID is %s, Show name is %s, predited rating is %s \n" % (i+1, name[i], s_u[i]))

Show ID is 10, Show name is "Two and a Half Men", predited rating is 757.6011181024229

Show ID is 61, Show name is "NBC 4 at Eleven", predited rating is 784.7819589039741

Show ID is 46, Show name is "2009 NCAA Basketball Tournament", predited rating is 827.6012954743579

Show ID is 75, Show name is "Family Guy", predited rating is 861.17599928733

Show ID is 97, Show name is "FOX 28 News at 10pm", predited rating is 908.4800534761278

In [170]:
for i in u_rec:
    print(alex[i])

0
0
1
0
1

In [172]:
q = np.zeros((563,563))
for i in range(563):
    q[i][i] = sum(r.transpose()[i])

In [176]:
gamma_i = r@np.linalg.inv(np.sqrt(q))@r.transpose()@r@np.linalg.inv(np.sqrt(q))

In [177]:
s_i = gamma_i[499][:100]

In [178]:
i_rec = sorted(range(len(s_i)), key=lambda i: s_i[i])[-5:]

In [217]:
for i in i_rec:
    print("Show ID is %s, Show name is %s, predited rating is %s \n" % (i+1, name[i], s_i[i]))

Show ID is 83, Show name is "Access Hollywood", predited rating is 28.971277674055553

Show ID is 46, Show name is "2009 NCAA Basketball Tournament", predited rating is 29.227001561500483

Show ID is 61, Show name is "NBC 4 at Eleven", predited rating is 29.396797773402554

Show ID is 75, Show name is "Family Guy", predited rating is 30.001141798877768

Show ID is 97, Show name is "FOX 28 News at 10pm", predited rating is 31.36470167834239

In [180]:
for i in i_rec:
    print(alex[i])

0
1
0
0
1

In [181]:
u, s, vh = np.linalg.svd(r, full_matrices=True)

In [182]:
u.shape

(9985, 9985)

In [183]:
s.shape

(563,)

In [184]:
vh.shape

(563, 563)

In [189]:
var_c = 0
for i in range(320):
    var_c += s[i]

In [190]:
var = sum(s)

In [204]:
var_c

11563.936712422541

In [191]:
var_c/var

0.7320264894976807

In [220]:
s_s = np.zeros((9985,320))
for i in range(320):
    s_s[i][i] = s[i]

In [221]:
vh_q = vh[:320,:320]

In [222]:
red_r = u@s_s@vh_q

In [223]:
s_svd = red_r[499][:100]

In [224]:
svd_rec = sorted(range(len(s_svd)), key=lambda i: s_svd[i])[-5:]

In [225]:
for i in svd_rec:
    print("Show ID is %s, Show name is %s, predited rating is %s \n" % (i+1, name[i], s_svd[i]))

Show ID is 71, Show name is "Franklin", predited rating is 0.2149012194570189

Show ID is 67, Show name is "Lazy Town", predited rating is 0.25327051200478923

Show ID is 70, Show name is "Blue's Clues", predited rating is 0.28614820627633797

Show ID is 49, Show name is "Max and Ruby", predited rating is 0.37749942914811974

Show ID is 64, Show name is "Wow Wow Wubbzy", predited rating is 0.3795032191270519

In [226]:
for i in svd_rec:
    print(alex[i])

1
1
1
1
1